body{
	background-color: #45b1fb;
}

.btn{
	background-size: cover;
	width: 50px;
	height: 30px;
	background-color: grey;
	border: 5px solid black;
	padding: 10px;
}

.play{
	background-image: url("");
}

.stop{
	background-image: url("");
}